@import '../../utilities/variables';

.petsitter-reviews{
    width: 100%;
    .petsitters{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 40px;

        @media screen and  (max-width: $medium-screen){
            padding: 20px;
        }
        
        @media screen and  (max-width: $small-screen){
            flex-direction: column;
        }
        
    }
    .button-container{
        display: flex;
        justify-content: center;
    }
}